<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/dashboard/master.html}">
<head>
	<title>F-Movie | Schedule Management</title>
	<link th:href="@{/vendors/main/schedule.css}" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<div class="timetable">
						  <table class="button-options">
						    <tr>
						      <th></th>
						      <th></th>
						      <th></th>
						      <th></th>
						      <th></th>
						      <th></th>
						      <th></th>
						      <th></th>
						      <th></th>
						      <th></th>
						    </tr>
						  </table>
						  <div class="layoutdesign">
						    <div class="row">
						      <div>Rooms</div>
						      <div>00:00</div>
						      <div>01:00</div>
						      <div>02:00</div>
						      <div>03:00</div>
						      <div>04:00</div>
						      <div>05:00</div>
						      <div>06:00</div>
						      <div>07:00</div>
						      <div>08:00</div>
						      <div>09:00</div>
						      <div>10:00</div>
						      <div>11:00</div>
						      <div>12:00</div>
						      <div>13:00</div>
						      <div>14:00</div>
						      <div>15:00</div>
						      <div>16:00</div>
						      <div>17:00</div>
						      <div>18:00</div>
						      <div>19:00</div>
						      <div>20:00</div>
						      <div>21:00</div>
						      <div>22:00</div>
						      <div>23:00</div>
						      <div>24:00</div>
						
						    </div>
						    <div class="row">
						      <div class="room"></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						    </div>
						    <div class="row">
						      <div class="room"></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						    </div>
						
						    <div class="row">
						      <div class="room"></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						    </div>
						    <div class="row">
						      <div class="room"></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						    </div>
						    <div class="row">
						      <div class="room"></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						      <div></div>
						    </div>    
						   <span class="film" style="top:10vh;left:calc(10vw + 225px); width:180px" data-start="02:15">Deadpool -108mins</span>
						  </div>
						  <form>
						    <input id="timetableFilm" type="text" placeholder="Enter Title" />
						    <input id="timetableDuration" type="text" placeholder="Enter Duration (mins)" />
						    <input id="timetableStart" type="text" placeholder="Start Time (HH:MM)" />
						    <select id="timetableScreen">
						      <option>1</option>
						      <option>2</option>
						      <option>3</option>
						      <option>4</option>
						      <option>5</option>
						    </select>
						  </form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:src="@{/vendors/main/js/schedule.js}"></script>
	</div>
</body>
</html>