<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/dashboard/master.html}">
<head>
   	<title>F-Movie | Ticket Management</title>
   	<script type="text/javascript" th:src="@{/vendors/alertify/alertify.min.js}"></script>
	<link rel="stylesheet" th:href="@{/vendors/main/css/ticket.css}">
</head>
<body>
<div layout:fragment="content">
          <div class="row">
			   <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                  	<div class='event col-lg-3 col-md-3 col-sm-6 col-xs-12'>
				      <div class='event-side'>
				          <div class='dotted-line-separator'><span class='line'></span></div>
				          <div class='event-icon'><span></span></div>
				          <div class='event-date'>Jan 17</div>
				          <div class='event-time'>11 PM <span class='to'>to </span>12 PM</div>
				          <div class='cut-out'></div>
				      </div>
				      <div class='event-body'>
				        <div class='event-image'><a href='#'><span class='image'></a></div>
				        <div class="event-location">Club Disco</div>
				        <div class="event-title"><h3>Spinning</h3><span>as Resident DJ</span></div>
				        <div class="event-details">Techno and HipHop</div>	
				      </div>
					</div>
					<div class='event col-lg-3 col-md-3 col-sm-6 col-xs-12'>
						<div class='event-side'>
							<div class='dotted-line-separator'><span class='line'></span></div>
							<div class='event-icon'><span></span></div>
							<div class='event-date'>Jan 17</div>
							<div class='event-time'>11 PM <span class='to'>to </span>12 PM</div>
							<div class='cut-out'></div>
						</div>
						<div class='event-body'>
						  <div class='event-image'><a href='#'><span class='image'></a></div>
						  <div class="event-location">Club Disco</div>
						  <div class="event-title"><h3>Spinning</h3><span>as Resident DJ</span></div>
						  <div class="event-details">Techno and HipHop</div>	
						</div>
					  </div>
					  <div class='event col-lg-3 col-md-3 col-sm-6 col-xs-12'>
						<div class='event-side'>
							<div class='dotted-line-separator'><span class='line'></span></div>
							<div class='event-icon'><span></span></div>
							<div class='event-date'>Jan 17</div>
							<div class='event-time'>11 PM <span class='to'>to </span>12 PM</div>
							<div class='cut-out'></div>
						</div>
						<div class='event-body'>
						  <div class='event-image'><a href='#'><span class='image'></a></div>
						  <div class="event-location">Club Disco</div>
						  <div class="event-title"><h3>Spinning</h3><span>as Resident DJ</span></div>
						  <div class="event-details">Techno and HipHop</div>	
						</div>
					  </div>
					  <div class='event col-lg-3 col-md-3 col-sm-6 col-xs-12'>
						<div class='event-side'>
							<div class='dotted-line-separator'><span class='line'></span></div>
							<div class='event-icon'><span></span></div>
							<div class='event-date'>Jan 17</div>
							<div class='event-time'>11 PM <span class='to'>to </span>12 PM</div>
							<div class='cut-out'></div>
						</div>
						<div class='event-body'>
						  <div class='event-image'><a href='#'><span class='image'></a></div>
						  <div class="event-location">Club Disco</div>
						  <div class="event-title"><h3>Spinning</h3><span>as Resident DJ</span></div>
						  <div class="event-details">Techno and HipHop</div>	
						</div>
					  </div>
                  </div>
                </div>
              </div>
          </div>
        <!-- Custom Js -->
    	<script type="text/javascript" th:src="@{/vendors/main/js/fetch.js}"></script>
        </div>
</body>
</html>
