<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/dashboard/master.html}">
<head>
   	<title>F-Movie | Ticket Management</title>
   	<script type="text/javascript" th:src="@{/vendors/alertify/alertify.min.js}"></script>
	<link rel="stylesheet" th:href="@{/vendors/main/css/ticket.css}">
</head>
<body>
<div layout:fragment="content">
          <div class="row">
			   <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="row">
                      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                        <label for="cinema">Pick a cinema *:</label>
                        <select id="cinema" class="form-control" required>
                          <option value="">Choose..</option>
                          <option th:each="cinema: ${cinemas}" th:value="${cinema.code}" th:text="${cinema.name}"></option>
                        </select>
                      </div>
                      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                        <label for="room">Pick a room *:</label>
                        <select id="room" class="form-control" required>
                          <option value="">Choose..</option>
                          <option value="press">Press</option>
                          <option value="net">Internet</option>
                          <option value="mouth">Word of mouth</option>
                        </select>
                      </div>
                      <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                        <label for="movie">Pick a movie *:</label>
                        <select id="movie" class="form-control" required>
                          <option value="">Choose..</option>
                          <option th:each="movie: ${movies}" th:value="${movie.code}" th:text="${movie.name}"></option>
                        </select>
                      </div>
                    </div>
                    <div th:each="ticket: ${tickets}">
                  	  <div class='event col-md-1 col-sm-12 col-xs-12 form-group'>
				                <div class='event-side'>
				                  <div class='dotted-line-separator'><span class='line'></span></div>
				                  <div class='event-icon'><span></span></div>
				                  <div class='event-time'><span th:text="${#dates.format(ticket.startTime, 'dd-MM-yyyy HH:mm')}"></span><label class='to'>to </label><span th:text="${#dates.format(ticket.expireTime, 'dd-MM-yyyy HH:mm')}"></span></div>
				                  <div class='cut-out'></div>
				                </div>
				              <div class='event-body'>
				                <div class='event-image'><a href='#'><span class='image'>
				                	<img th:src="${ticket.movieDTO.image}" alt="AI is analyzing...">
				                </span>
				                </a></div>
				                <div class="event-location" th:text="${ticket.cinema}"></div>
				                <div class="event-title"><h3 th:text="${ticket.movieDTO.name}"></h3><span th:text="${ticket.movieDTO.cast}"></span></div>
				                <div class="event-details">
				                	<label>Seat: <span  th:text="${ticket.seat}"></span></label>
				                	<label>|</label>
				                	<label>Room: <span th:text="${ticket.room}"></span></label>
				                </div>
				              </div>
					          </div>
					        </div>
                </div>
            </div>
        </div>
      </div>
        <!-- Custom Js -->
    	<script type="text/javascript" th:src="@{/vendors/main/js/fetch.js}"></script>
        </div>
</body>
</html>
